@page "/FieldView"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using System.Runtime.CompilerServices
@using BlazorWASM.Shared.Models
@inject IJSRuntime JSRuntime
@inject IFieldService fieldService
@inject IUserService userService


<div class="main-content">
   
    <AuthorizeView>
        <h3>Opret Mark</h3>
        <div id="mapid" style="height: 400px;"></div>

        <div class="buttons">
            <button class="btn"@onclick="ShowPopup">Tilføj mark</button>
            <FieldPopup @ref="fieldPopup" OnFieldSaved="SaveFieldHandler" />
        </div>

        <div class="list-section">
              @if (fields != null)
                {
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Field name</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in fields)
                        {
                            <tr>
                                <td>@item.FieldName</td>
                            </tr>
                            <tr>
                                <td>@item.locationData</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                @if (!string.IsNullOrEmpty(msg))
                {
                    <label style="color: red">@msg</label>
                }
        </div>
    </AuthorizeView>
     
    
</div>
@code {
    private IEnumerable<FieldLookupDto>? fields;
    private string msg = "";
    private int currentUserId;
    private FieldCreationDto fieldToCreate;
    private string fieldToCreateLocationData;
    public static event Action<string> OnLocationDataReceived;
    private FieldPopup fieldPopup;
    private string fieldName;
    private string cropType;
    private int soilType;

    private void ShowPopup()
    {
        fieldPopup.Show();
    }

    private void SaveFieldHandler((string fieldName, string cropType) fieldData)
    {
        fieldName = fieldData.fieldName;
        cropType = fieldData.cropType;
        CreateField();
    }
    
    protected override async Task OnInitializedAsync()
    {
        currentUserId = await userService.GetCurrentUserId();
        
        try
        {
            fields = await fieldService.GetFieldsByUserId(currentUserId);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        OnLocationDataReceived += HandleLocationDataReceived;
    }
    
    private void HandleLocationDataReceived(string locationData)
    {
        fieldToCreateLocationData = locationData;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeMapEditable");
            await DrawAllPolygons();
        }
    }
    
    private async Task ReloadFields()
    {
        try
        {
            fields = await fieldService.GetFieldsByUserId(currentUserId);
            await DrawAllPolygons();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
 
    private async void CreateField()
    {
        await JSRuntime.InvokeVoidAsync("createField");

        fieldToCreate = new FieldCreationDto
        {
            FieldName = fieldName,
            LocationData = fieldToCreateLocationData,
            OwnerId = currentUserId,
            CropType = cropType
        };

        await fieldService.CreateField(fieldToCreate);
        
        await JSRuntime.InvokeVoidAsync("clearMapEditor");
        
        await ReloadFields();
        fieldToCreateLocationData = null;
    }

    [JSInvokable]
    public static Task ReceiveDataFromJs(string locationData)
    {
        Console.WriteLine($"Received location data: {locationData}");
        Console.WriteLine("this is the Locationdata from the polygon: " + locationData);
        OnLocationDataReceived?.Invoke(locationData);
        return Task.CompletedTask;

    }
    private async Task DrawAllPolygons()
    {
        if (fields != null)
        {
            var coordinateStrings = fields.Where(field => !string.IsNullOrWhiteSpace(field.locationData))
                .Select(field => field.locationData)
                .ToList();

            await JSRuntime.InvokeVoidAsync("drawPolygons", coordinateStrings);
        }
    }
}