@page "/FieldView"
@inject IJSRuntime JSRuntime

<h3>FieldView</h3>
<div class="main-content">
   

    <div id="mapid" style="height: 400px;"></div>
    
    <div class="buttons">
        <button class="btn"@onclick="CreateField">Tilføj mark</button>
    </div>
    
    <div class="list-section">
        <!-- List of fields -->
        <input type="search" placeholder="Søg">
        <div class="field-item">Mark 1-0</div>
        <div class="field-item">Mark 2-1</div>
        <!-- Add more field items as needed -->
    </div>
    
     
    
</div>
@code {
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeMap");
        }
    }

    private async void CreateField()
    {
        await JSRuntime.InvokeVoidAsync("createField");
    }

    [JSInvokable]
    public static Task ReceiveDataFromJs(string locationData)
    {
        Console.WriteLine($"Received location data: {locationData}");
    // Yderligere logik til at håndtere locationData
        return Task.CompletedTask;
    }
}