@page "/"

<PageTitle>Index</PageTitle>

<h1>Velkommen til Smart Farmer!</h1>


<p><strong>Vi tilbyder software løsninger, der kan effektivisere din vandning.</strong></p>

<p>Som virksomhed har vi stor fokus på landmænds behov, og hvordan vi kan gøre jeres arbejds opgaver nemmer og billigere</p>