@page "/"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IFieldService fieldService
@inject IUserService userService
<PageTitle>Index</PageTitle>

<h1>Velkommen til Smart Farmer!</h1>




@code{
    
    private IEnumerable<FieldLookupDto>? fields;
    private string msg = "";
    private int currentUserId;

    protected override async Task OnInitializedAsync()
    {
        currentUserId = await userService.GetCurrentUserId();
        
        try
        {
            fields = await fieldService.GetFieldsByUserId(currentUserId);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}