body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h3 {
    color: #333;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.info-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 60%;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.info-container:hover {
    background-color: #e0e0e0;
}

.machine-table {
    width: 100%;
    border-collapse: collapse;
}

.machine-table td {
    padding: 8px;
}
