@inject IJSRuntime JSRuntime
@inject IFieldService fieldService
@inject IUserService userService
@page "/MapView"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
<AuthorizeView>
<h3>Dine marker</h3>

<div id="mapid" style="height: 400px;"></div>

 <div class="buttons">
        <NavLink class="btn btn-primary" href="FieldView">Tilføj mark</NavLink>
        <button class="btn">Rediger mark</button>
        <button class="btn">Slet mark</button>
        <button class="btn">Importer marker</button>
    </div>
    
    
</AuthorizeView>
@code {
    private IEnumerable<FieldLookupDto>? fields;
    private int currentUserId;
    private string msg = "";
    private ElementReference mapElement;
    private string geoLocationData = null;

    protected override async Task OnInitializedAsync()
    {
        currentUserId = await userService.GetCurrentUserId();

        try
        {
            fields = await fieldService.GetFieldsByUserId(currentUserId);
          
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeMap");
            await DrawAllPolygons();
        }
    }
//Hejjj

    private async Task DrawAllPolygons()
    {
        if (fields != null)
        {
            foreach (var field in fields)
            {
                if (!string.IsNullOrWhiteSpace(field.locationData))
                {
                    await JSRuntime.InvokeVoidAsync("drawPolygonFromCoordinateString", field.locationData);
                }
            }
            await JSRuntime.InvokeVoidAsync("zoomToFitAllFields");
        }
    }

   
}

