@page "/ViewField/{fieldId}"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using Domain.DTOs
@inject IFieldService fieldService
@inject IUserService userService

<AuthorizeView>
    <h3>ViewField</h3>
    <p>FieldName: @fieldName</p>
</AuthorizeView>

@code {
    private Field field;
    private string msg = "";
    private string fieldName;
    
    [Parameter]
    public string fieldId { get; set; }
    
    private int FieldIdAsInt => int.Parse(fieldId);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await fieldService.GetFieldById(FieldIdAsInt);
            Console.WriteLine("JSON Response: " + result); // Log the JSON response
            field = result;
            fieldName = field.Name;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}