@page "/ViewField/{fieldId}"
@using HttpClients.ClientInterfaces
@using Domain.Models
@inject IFieldService fieldService
@inject IUserService userService

<AuthorizeView>
    <h3>ViewField</h3>
    
    @if (field != null)
    {
        <table class="table">
            <thead>
            <tr>
                <th>Field name</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@field.Name</td>
                </tr>
                <tr>
                    <td>@field.Area</td>
                </tr>
            </tbody>
        </table>
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }
    
</AuthorizeView>

@code {
    private Field? field;
    private string msg = "";
    
    [Parameter]
    public int fieldId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            field = await fieldService.GetFieldById(fieldId);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}